:root {
    --color-yellow: #ffc285; 
    --color-red: #eb1d65; 
    --color-pure: #663bb7; 
    --color-green: #76b947;
    --color-blue: #3366cc;
    --color-white: #fff;
    --color-gray: rgb(191, 191, 191);
}
